doctype html
html
  head
    title= status =msg
    link(ref'stylesheet', href='/stylesheets/style.css')
  body
    h1(testID='#{status} Test') Error
    p= msg
    p Try refreshing the page, if this problem
    |persists then we're already working on it!