div.well.list-group.center(style='text-align: center;')
  div.list-group-item
    textarea.span8.form-control(id='newPostText', name='post', row='3', placeholder='Say something new')
  div.list-group-item
    button.btn.btn-success(id='postNewThings', type='button')
      i.icon-comment.icon-white
      | Post Your Update!